
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-twitter-1:before { content: '\f309'; } /* '' */
.icon-facebook-1:before { content: '\f30c'; } /* '' */
.icon-gplus-1:before { content: '\f30f'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */